.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
    &__line {
        width: 30px;
        height: 3px;
        background: white;
    }
}
