.video-area {
    display: block;
    background: url(../../../assets/image/video/video.png);
    // padding-top: 150px;
    // padding-bottom: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    height: 100%;
    width: 100%;
}