@import '../../global.scss';

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    &__item {
        text-transform: capitalize;
        position: relative;
        margin-right: 1rem;
        .link {
            text-decoration: none;
            padding-bottom: 10px;
            color: white;
            display: block;
            position: relative;
            &:hover {
                color: $yellow;
                &:before {
                    position: absolute;
                    content: "";
                    background: $yellow;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        .active {
            color: $yellow;
            &:before {
                position: absolute;
                content: "";
                background: $yellow;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
            }   
        }        
    }
}

.nav-menu__item__submenu {
    display: none;
    position: absolute;
    width: 170px;
    background: white;
    list-style: none; //
    margin: 0; //
    padding: 0; //
    .subitem {
        display: block;
        text-decoration: none; 
        color: black;
        padding: 5px 5px;
        margin: 5px;
        &:hover {
            background: #333;
            color: white;
        }
    }
}

.submenu:hover .nav-menu__item__submenu {
    display: block;
}

@media screen and (max-width: 1350px) {
    .nav-menu__item {
        margin: 0.5rem;
    }    
}

@media screen and (max-width: 620px){
    .nav-menu {
        display: block;
        position: absolute;
        top: 55px;
        right: 0;
        background: $red;
        &__item {
            margin: 0.5rem;   
        }
    }
    .nav-menu__item__submenu {
        top: -5px;
        right: 63px;
    }
}