
.home {
    position: relative;
    overflow: hidden;
    &__slider {
        overflow: hidden;
        height: 100vh;
        object-fit: cover;
    }
}

.homePageNextArrow {
    position: absolute;
    right: 50px; 
    opacity: 0.4;     
}

.homePagePrevArrow {
    position: absolute;
    left: 50px; 
    opacity: 0.4;
}

