
// colors

$yellow: #f2c64d;

.header {
    height: 100px;
    background: black;
    display: flex;
    flex-direction: row;
    font: {
        family: paytone one,sans-serif;
        weight: 400;
    } 
    li::first-letter {
        text-transform: uppercase;
        text-decoration: none;
    } 
    ul {
        list-style: none;
    }
    nav {
        ul {
            display: flex;
        }
    }
}  

.logo-img, .book_room {
    display: flex;
}

.book_btn {
    a {
        text-decoration: none;
        background: 0 0;
        padding: 12px 26px;
        font: {
            size: 18px;
            
        }
        border: 1px solid $yellow;
        color: $yellow;
        border-radius: 30px;
    &:hover {
        background: $yellow;
        color: white;
    }
    }
}

.socail_links {
    i {
        color: white;
        &:hover {
            color: $yellow;
        }
    }
}