.header {
  height: 100px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background: black;
  z-index: 99;
  left: 0;
  top: 0;
  font-family: paytone one, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.container__navmenu {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container__logo {
  display: block;
}

.container__info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-menu {
  display: none;
}

.info__social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info__book_btn a {
  text-decoration: none;
  padding: 12px 26px;
  font-size: 18px;
  border: 1px solid #f2c64d;
  color: #f2c64d;
  border-radius: 30px;
}

.info__book_btn a:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: #f2c64d;
  color: white;
}

@media (max-width: 1400px) {
  .header__container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1200px) {
  .info__book_btn {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .container__navmenu {
    -ms-flex-preferred-size: 73%;
        flex-basis: 73%;
  }
  .container__info {
    -ms-flex-preferred-size: 27%;
        flex-basis: 27%;
  }
}

@media screen and (max-width: 800px) {
  .container__logo {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .header {
    height: 60px;
  }
  .header__container {
    display: none;
  }
  .header .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header .mobile-menu .btn {
    display: block;
  }
  .header .mobile-menu .logo_img {
    display: block;
    width: 70px;
  }
}
/*# sourceMappingURL=header.css.map */