@import '../../../components/global.scss';
$fontSize: 33px;
$navButtonDivHeight: 120px;
.constomers {
    padding: 0 40px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    flex-direction: column;
    &__titles {
        display: block;
    }
    &__slider {
        padding: 0 40px;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
}

.slick-next:before, .slick-prev:before {
    color: black !important;
}

.slick-slider * { outline: none; }

.customerRating {
    display: flex;
    width: 40%;
    flex-direction: column;
    &__customerRef {
        color: #040E27;
        text-align: center;
        font-family: Raleway, sans-serif;
        font-size: 20px;
        line-height: 32px; 
        margin-bottom: 30px;
    } 
    img {
        margin-bottom: 15px;
        margin: auto;
    }  
 }
.rating {
    text-align: center;
    &__name {
       color: black; 
    }
}

.starIcon {
    color: gold;
}

.slick-arrow .slick-prev {
    left: 0;
    position: absolute;
    height: $navButtonDivHeight;
    width: 50px;
    background: rgba(255,255,255,.2);
    top: 40%;
    // top: 50%;
    text-align: center;
    cursor: pointer;    
    i {
        color: white;
        font-size: $fontSize;
        padding-top: ($navButtonDivHeight - $fontSize)/2; 
    }     
}

// .slick-next {
//     background: url('../../../assets/image/arrow-left-100.png') center center no-repeat!important;
  
//     &::before {
//       display: none;
//     }
//   }
  
//   .slick-prev {
//     background: url('../../../assets/image/arrow-left-100.png') center center no-repeat!important;
  
//     &::before {
//       display: none;
//     }
//   }