.footer-top-container .withInput form input {
  border: 1px solid #e5e6e9;
  font-size: 1rem;
  font-family: inherit;
}

.footer-top-container .withInput form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #C0C0C0;
}

.footer-top-container .withInput form input:-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #C0C0C0;
}

.footer-top-container .withInput form input::-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #C0C0C0;
}

.footer-top-container .withInput form input::placeholder {
  /* Chrome/Opera/Safari */
  color: #C0C0C0;
}

.footer {
  background: url(../../assets/image/banner/footer_bg.png);
  padding-top: 113px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer-top {
  display: block;
  width: 1140px;
  margin: 0 auto;
}

.footer-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top-container__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  min-width: 31%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-top-container__item h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 39px;
  color: #1a0d01;
  font-family: "MontserratBold";
}

.footer-top-container__item p, .footer-top-container__item a {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  line-height: 28px;
  color: #6e6e6e;
  font-family: raleway, sans-serif;
}

.footer-top-container__item a {
  text-decoration: none;
}

.footer-top-container__item .phone {
  color: #f0542c;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.footer-top-container .withInput {
  text-align: left;
  margin-left: 3rem;
}

.footer-top-container .withInput form {
  position: relative;
  margin-bottom: 2rem;
}

.footer-top-container .withInput form input {
  width: 100%;
  margin-top: 2rem;
  padding-left: 1rem;
  height: 3rem;
  border: 1px solid #e5e6e9;
  font-size: 1rem;
  font-family: montserrat, sans-serif;
  border-radius: 28px;
}

.footer-top-container .withInput form button {
  position: absolute;
  bottom: 3px;
  right: -12px;
  padding: 13px 24px;
  border-radius: 24px;
  background: #f0542c;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-family: raleway, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.footer-top-container .withInput form button:hover {
  cursor: pointer;
}

.footer-top__social-link-container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-top__social-link-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-top__social-link-container ul li a {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  color: #f0542c;
  font-size: 1.3rem;
  border: 1px dashed #f0542c;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer-top__social-link-container ul li a:hover {
  color: white;
  background: #f0542c;
}

.footer-top-copyright {
  margin-top: 3rem;
  border-top: 1px solid #e5e6e9;
  text-align: center;
}

.footer-top-copyright p {
  padding: 2rem 0;
  color: #C0C0C0;
  font-weight: 500;
  font-family: raleway, sans-serif;
  margin: 0;
}

.footer-top-copyright p a {
  color: #f0542c;
  font-weight: 700;
  text-decoration: none;
}
/*# sourceMappingURL=footer.css.map */