 body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

}


@font-face {
  font-family: 'MontserratBold';
  src: url('./fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
